body {
  background: linear-gradient(to bottom left, #00ff0080, #00ffff80);
}

a:focus,
a:hover {
  background: black;
  color: lime;
  border-radius: 0.5rem;
  outline: 3px solid black;
}

.tippy-svg-arrow {
  display: none; /* tippy side tooltips have weird secondary triangle */
}

body:has(input[type="submit"]:focus) .tippy-box {
  max-width: min(calc(100dvw - 20px), 410px) !important;
}
